---
layout: landing
---

<div class="row">
	<div class="small-8 medium-5 large-4 columns small-centered">
		<a href="/"><img src="/assets/img/logo.jpg" class="img-responsive"></a>
	</div>
</div>

<div class="padding-40"></div>

<div class="row">
	<div class="medium-8 small-centered columns">
		<hr>
		<p class="text-center">Thank you for your interest.</p>
		<hr>
	</div>
</div>

<br><br><br><br><br><br><br><br>

<script type="text/javascript">
	    window.setTimeout(function(){
	        window.location.href = "http://www.losangelessuite.com";
	    }, 5000);
</script>