body > .container {
	padding-top: 60px;
}
.padding-80 {
	width: 100%;
	height: 80px;
}
.padding-60 {
	width: 100%;
	height: 60px;	
}
.padding-50 {
	width: 100%;
	height: 50px;	
}
.padding-40 {
	width: 100%;
	height: 40px;	
}
.padding-30 {
	width: 100%;
	height: 30px;	
}
.padding-20 {
	width: 100%;
	height: 20px;	
}
.halftone {
	opacity: 0.5;
}