
        <footer class="footer">
            <div class="container">
                <p class="text-muted text-center"></p>
            </div>
        </footer>

        <!--scripts and plugins -->
        
        <script src="{{ site.baseurl }}assets/js/jquery-1.11.3.min.js"></script>
        <script src="{{ site.baseurl }}assets/vendors/foundation/js/foundation/foundation.js"></script>
        <script src="{{ site.baseurl }}assets/js/app.js"></script>

        <script type="text/javascript">
			$('textarea').keypress(function(){
			    if(this.value.length > 250){
			        return false;
			    }
			    $("#remainingC").html("(Characters remaining: " + (250 - this.value.length) + ")");
			});
		</script>