---
---

// Fonts
@import 'components/fonts';

// Vendor Override
@import 'vendor-overrides/foundation-settings-custom';

// Vendors
@import 'vendors/foundation/normalize',
		'vendors/foundation/foundation';

// Modules
// @import 'modules/variables';

// Components
@import 'components/footer',
		'components/layout';

// Pages
@import 'pages/home';

.text-muted {
	font-size: 12px;
	color: #999;
}