<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include nav.html %}

      <!-- Begin page content -->
      <div class="container">

        {{ content }}
      
      </div>

    {% include footer.html %}

  </body>

</html>